@use '../base/variables' as *;

.about {
  background: linear-gradient(130deg, #191536 0%, #000000 100%);
}

.about__content {
  padding: 157px 0 146px;
}

.about__slider {
  position: relative;
}

.about__current-slide {
  position: absolute;
  left: -34px;
  font-size: 14px;
  font-weight: 400;
  color: $accent-color;
}

.slider__viewport {
  margin-bottom: 12px;
}

.about-product__title {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 900;
}

.about-product__title span {
  color: $accent-color;
  font-weight: 400;
}

.about-product__description {
  margin-bottom: 42px;
  color: $text-color;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}