@use '../base/variables' as *;

.about {
  background: linear-gradient(130deg, #191536 0%, #000000 100%);
}

.about__content {
  padding: 157px 0 146px;
}

.about__top {
  margin-bottom: 175px;
}

.about__slider {
  position: relative;
}

.about__current-slide {
  position: absolute;
  left: -34px;
  font-size: 14px;
  font-weight: 400;
  color: $accent-color;
}

.slider__viewport {
  margin-bottom: 12px;
}

.slider__status-bar {
  position: relative;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 210px;
  border-bottom: 1px solid #212121;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 2px;
    background-color: $accent-color;
  }
}

.slider__btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.about-product__title {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 900;
}

.about-product__title span {
  color: $accent-color;
  font-weight: 400;
}

.about-product__description {
  margin-bottom: 42px;
  color: $text-color;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

.about-us__greeting {
  grid-row: 2/3;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color: $accent-color;
}

.about-us__title {
  grid-row: 3/4;
  margin-bottom: 32px;
  font-size: 36px;
  font-weight: 900;
}

.about-us__title span {
  font-weight: 400;
  color: $accent-color;
}

.about-us__text {
  grid-row: 4/5;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: $text-color;
}

.about-us__background {
  grid-row: 1/6;
  height: 340px;
  background-image: url('../assets/images/about/bottom-background.png');
}