@use '../base/variables' as *;

.benefits {
  background: linear-gradient(130deg, #191536 0%, #000000 100%);
}

.benefits__content {
  padding-block: 160px;
}

.benefits__title {
  margin-bottom: 82px;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

.benefits__title span {
  font-size: 36px;
  font-weight: 400;
  color: $accent-color;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit__icon {
  margin-bottom: 30px;
  width: 98px;
  height: 80px;
}

.compatible__icon {
  background-image: url('../assets/icons/compatible-icon.svg');
}

.control-panel__icon {
  background-image: url('../assets/icons/panel-icon.svg');
}

.wireless__icon {
  background-image: url('../assets/icons/wireless-icon.svg');
}

.benefit__title {
  margin-bottom: 16px;
}

.benefit__description {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: $text-color;
}