@use '../base/variables' as *;

.contacts {
  background-color: $background-black;
}

.contacts__content {
  padding-block: 160px;
}

.contacts__eyebrow {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  color: $accent-color;
}

.contacts__title {
  margin-bottom: 26px;
  font-size: 36px;
  font-weight: 900;
}

.contacts__title span {
  font-size: 36px;
  font-weight: 400;
  color: $accent-color;
}

.contacts__description {
  margin-bottom: 76px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: $text-color;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts__link {
  font-size: 16px;
  font-weight: 400;
  color: $text-color;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-form__field input {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #2f2f2f;
}

.contacts-form__field::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.contacts-form__textarea {
  margin-bottom: 26px;
  width: 100%;
  height: 88px;
  border-bottom: 1px solid #2f2f2f;
  resize: none;
}

.contacts-form__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-form__submit {
  width: 200px;
  height: 48px;
  border-radius: 4px;
  background-color: $accent-color;
}

.to-top__button {
  width: 48px;
  height: 48px;
  background-image: url('../assets/icons/to-top.svg');
}