@use '../base/variables' as *;

.features {
  background-color: $background-black;
}

.features__content {
  padding-block: 159px;
}

.features__title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
}

.features__description {
  margin-bottom: 70px;
  text-align: center;
  color: $accent-color;
  font-size: 14px;
  font-weight: 400;
}

.features__title span {
  color: $accent-color;
  font-weight: 400;
}

.features__list {
  display: flex;
  justify-content: space-between;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 348px;
}

.feature__title {
  margin-bottom: 20px;
  font-weight: 900;
}

.features__item p {
  text-align: center;
  color: $text-color;
  line-height: 150%;
}

.feature__icon {
  margin-bottom: 30px;
  width: 98px;
  height: 98px;
}

.education__icon {
  background-image: url('../assets/images/features/education-icon.svg');
}

.real-estate__icon {
  background-image: url('../assets/images/features/real-estate-icon.svg');
}

.fitness__icon {
  background-image: url('../assets/images/features/fitness-icon.svg');
}

.interactions__icon {
  background-image: url('../assets/images/features/social-interactions-icon.svg');
}