@use '../base/mixins' as *;

.grid {
  @include onDesktop {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(16, 1fr);
  }

  @for $start from 1 through 16 {
    @for $end from $start through 20 {
      &--onDesktop-#{$start}-#{$end} {
        @include onDesktop {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }
}