@use '../base/variables' as *;

.hero {
  height: 100vh;
  padding: 196px 0 84px;
  background: linear-gradient(130deg, #191536 0%, #000000 100%);
}

.hero__content {
  position: relative;
  display: flex;
}


.hero__left {
  margin-bottom: 212px;
  width: 552px;
  display: flex;
  flex-direction: column;
}

.hero__title {
  margin-bottom: 19px;
  margin-left: 24px;
  font-weight: 900;
  font-size: 54px;
  line-height: 130%;
}

.hero__title span {
  color: $accent-color;
  font-weight: 400;
}

.hero__description {
  margin-bottom: 30px;
  margin-left: 116px;
  max-width: 400px;
  font-size: 20px;
  color: $text-color;
  line-height: 150%;
}

.hero__price {
  margin-bottom: 36px;
  margin-left: 116px;
  font-size: 20px;
}

.hero__right {
  position: absolute;
  left: 360px;
  width: 1104px;
  height: 595px;
}
