.hero {
  padding: 196px 0 84px;
  background: linear-gradient(130deg, #191536 0%, #000000 100%);
}

.hero__content {
  display: flex;
}

.hero__title {
  margin-bottom: 19px;
  font-weight: 900;
  font-size: 54px;
  line-height: 130%;
  align-self: flex-start;
}

.hero__title span {
  color: $accent-color;
  font-weight: 400;
}

.hero__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__description {
  margin-bottom: 30px;
  font-size: 20px;
  color: $text-color;
  line-height: 150%;
  align-self: center;
}

.hero__price {
  margin-bottom: 36px;
  font-size: 20px;
}
