@use '../base/variables' as *;

.tech {
  background-color: $background-black;
}

.tech__content {
  padding-block: 160px;
}

.tech__title {
  margin-bottom: 140px;
  font-size: 36px;
  font-weight: 900;
}

.tech__title span {
  font-size: 36px;
  font-weight: 400;
  color: $accent-color;
}

.tech__description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech__main-poster {
  position: relative;
  width: 312px;
  height: 294px;
  background-image: url('../assets/images/tech/main-poster.png');
}

.tech__buttons {
  position: relative;
  display: none;
}

.tech__button {
  position: absolute;
  width: 62px;
  height: 62px;
  background-image: url('../assets/icons/tech-open-button.svg');
}

.sensor-description {
  left: 58px;
  bottom: -32px;
}

.batterries-description {
  left: 236px;
  bottom: -178px;
}

.connection-description {
  left: -42px;
  bottom: -270px;
}

.tech-point {
  position: absolute;
  max-width: 260px;
}

.tech-point__title {
  position: relative;
  top: -48px;
  font-size: 18px;
  font-weight: 900;
  color: $white;
}

.tech-point__list {
  position: relative;
  top: -30px;
  font-size: 16px;
  line-height: 150%;
  color: $text-color;
}

.tech-point--sensor {
  top: -20px;
  left: -280px;
}

.tech-point--sensor::before {
  content: '';
  background-color: $accent-color;
  width: 340px;
  height: 1px;
  position: absolute;
  top: -40px;
  right: -242px;
}

.tech-point--sensor::after {
  content: '';
  background-color: $accent-color;
  width: 1px;
  height: 60px;
  position: absolute;
  top: -40px;
  right: -242px;
}
