.play-video__button {
  width: 248px;
  height: 72px;
  margin-left: 116px;
  background-image: url('../assets/icons/play-button.svg');
  background-position: center;
  background-repeat: no-repeat;
}