@use '../base/variables' as *;

html, body {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  color: $white;
}

.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1452px;
  margin: 0 auto;
}

.bgd-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
